
chat-interface {
  display:flex;
  flex-direction: column;
  min-height: 100%;
  padding: 8px;
}

chat-message {
  display:flex;
  flex-direction: column;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #9a9a9a;
}

chat-message-role {
  font-size: smaller;
  opacity: 0.5;
}

chat-message-content {
  white-space: break-spaces;
  pre {
    overflow-x: auto;
  }
}

chat-history {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

chat-controls {
  margin-top: auto;
  form {
    textarea {
      width: 100%;
      resize: none;
      height: 100px;
    }
  }
}

settings-section {
  display:block;
  margin-bottom: 2em;

  input, textarea {
    width: 100%;
  }
}

settings-label {
  font-size: smaller;
  display: block;
  margin-bottom: 4px;
}

settings-system-prompt {
  display:block;
  margin-bottom: 12px;
}
