# Project specific

- automatically run `devbox run -- just check` to check (for compiling, linting and running tests) in-between and after implementation steps. To automatically fix some linter errors (clippy), run `devbox run -- just fix` (will internally run cargo clippy --fix). After running `devbox run -- just fix`, re-read the affected files and run `devbox run -- just check` again to make sure all linter errors are fixed.
- before commiting, the code must be formatted. run `devbox run -- just fix` to format.
- Modify Cargo.toml using cargo commands.

# Rust

- variables should be used directly in the `format!` string: format!("{my_variable}")
- trust the compiler.
