# https://direnv.net/

# enable nix flake dev shell
use flake

# if .envrc.local does not exist:
if [[ ! -f .envrc.local ]]; then
	cp .envrc.local.example .envrc.local
fi
source .envrc.local

# vim: set ft=sh :
